@model Account
@{
    ViewData["Title"] = "Account Creation Page";
    string warning = ViewBag.Warning;
}

<h3 class="alert-danger">@warning</h3>
<div class="text-center">
    <img src="~/images/defaultUser.png" />
    <form asp-controller="Account" asp-action="CreateAccount">
        <input asp-for="Username" placeholder="Username" />
        <span asp-validation-for="Username" class="error-messages alert-danger"></span>
        <br />
        <input asp-for="Password" placeholder="Password" type="password" />
        <span asp-validation-for="Password" class="error-messages alert-danger"></span>
        <br />
        <input asp-for="FirstName" placeholder="First Name" />
        <span asp-validation-for="FirstName" class="error-messages alert-danger"></span>
        <br />
        <input asp-for="LastName" placeholder="Last Name" />
        <span asp-validation-for="LastName" class="error-messages alert-danger"></span>
        <br />
        <input type="submit" />

    </form>
</div>