<div class="text-center w-25 mx-auto mt-5">
    <img class="w-25 mb-2" src="~/images/defaultUser.png" />
    <h1 class="background-green rounded text-white">Login</h1>
    <div class="text-danger" asp-validation-summary="All"></div>

    <form method="post">
        <div class="form-group">
            <input name="email" class="form-control" placeholder="Email"/>
        </div>
        <div class="form-group">
            <input name="password" class="form-control" type="password" placeholder="Password"/>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
</div>