/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #24d438;
}

.style-Boi{
    background-color: slategrey !important;
}

.current-Init {
    background-color: #abc4dc !important;
}

/* Provide sufficient contrast against white background */
a {
  color: forestgreen;
}

.nav-item{
    color: #26e126;
}

.btn-primary {
    color: #fff;
    background-color: #2a2a2a;
    border-color: forestgreen;
}

.btn-primary:hover{
    color: #fff;
    background-color: forestgreen;
    border-color: forestgreen;
}

a:link{
    color: #24d438;
    text-decoration-color: #24d438;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #24d438;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid forestgreen;
}
.border-bottom {
    border-bottom: 1px solid forestgreen;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #26e126;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #26e126;
}

.pre-scrollable {
    max-height: 45vh !important;
}

.background-dark {
    background-color: #1a1a1a;
    color: white;
}

.background-green {
    background-color: forestgreen;
}

.border-green {
    border: 2px solid forestgreen;
}

.border-top-green {
    border-top: 2px solid forestgreen !important;
}

.border-bottom-green {
    border-bottom: 2px solid forestgreen !important;
}