@{
    ViewData["Title"] = "SpellPage";
}
@model Spell

<h1>SpellPage</h1>

<h2>Stuff and things</h2>
<div class="bg-dark text-light m-2 p-2 rounded">
    <partial name="_SpellPartialView" for="@Model" />
</div>

<h2>More stuff and more things</h2>