@{
    ViewData["Title"] = "Spell Collection";
}
@model List<Spell>

<h1>Spell Collection</h1>
<form asp-controller="Spell" asp-action="SearchSpells" class="col-sm-12 col-md-6 col-lg-6">
    <h2>Search Spells</h2>
    <label for="searchTerm">Keyword: </label>
    <input name="searchTerm" placeholder="Ex: Blast" />
    <input type="submit" />
</form>

@foreach (var spell in Model)
{
    <partial name="_SpellPartialView" for="@spell" />
}