@model StatBlockCollectionPartialPage

<div class="row">
@{

        foreach (var st in Model.statBlocks)
        {

            DnD_Nearby.Models.StatBlockEncounterPartialPage partialPage = new StatBlockEncounterPartialPage(ref Model.creatures, st);
       
        <div class="jumbotron col-5 justify-content-center bg-white border-dark border m-2 text-center">
            <partial name="/Views/Encounter/_StatBlockEncounterPartial.cshtml" for="@partialPage" />
        </div>
    }
}
</div>