@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Encounter>
@{
    ViewData["Title"] = "Encounter Collection Page";
    bool hasStats = Model != null && Model.Count() > 0;
}


@{
    if (!hasStats)
    {
        <div class="text-center">
            <h2>You have no Encounter on your account</h2>
            <h3>Go <a asp-controller="Encounter" asp-action="EncounterCreation">here</a> to add one!</h3>
        </div>
    }
    else
    {
        foreach (var encounter in Model)
        {
            <partial name="_EncounterPartialView" for="@encounter" />
            <br />
            <br />
        }
    }
}