@model EncounterCreationPage
@{
    StatBlockCollectionPartialPage statPartialPage = new StatBlockCollectionPartialPage(ref Model.creatureIDs, Model.statCollection);
    PlayerPartialMakerPage playerPartialPage = new PlayerPartialMakerPage(ref Model.creatureIDs);
}

<form asp-controller="Encounter" asp-action="CreateEncounter">
    <label for="encounter.accounterId">Associated Account Username: </label>
    <input asp-for="encounter.accountId" placeholder="username" />
    <br />
    <label for="encounter.enconterName">Name of Encounter</label>
    <input asp-for="encounter.encounterName" placeholder="Name" />
    @{
        for (var i = 0; i < Model.creatureIDs.Count(); i++)
        {
            <input hidden asp-for="CreatureIDs[i]" value="@Model.CreatureIDs[i]" />
        }
        <h2>@Model.displayString</h2>
    }

    <input type="submit" value="Create Encounter" />
</form>
<div class="row justify-content-center">

    <div class="col-6 jumbotron justify-content-center pre-scrollable">
        <partial name="/Views/Encounter/_StatBlockCollectionPartial.cshtml" for="@statPartialPage" />
    </div>
    <div class="col-6 jumbotron justify-content-center pre-scrollable">

        <partial name="/Views/Encounter/_PlayerCharacterMakerPartial.cshtml" for="@playerPartialPage">
    </div>
</div>

