@model InitiativePage 
@{
    ViewData["Title"] = "Initiative Tracker";
}

<div class="container">
    <h1>Encounter: @Model.initTracker.encounterName</h1>
    <div class="row">
        @foreach (KeyValuePair<Creature, int> creature in Model.initTracker.CreatureInitiatives)
        {
            CreatureInitPage cip = new CreatureInitPage();
            cip.CreatureInitiatives = creature;
            <div class="col-4">
                <partial name="/Views/PlayerCharacter/_Crea.cshtml" for="@creature" />
                <br />
                <br />
            </div>
        }
    </div>
</div>