@model List<StatBlock>
@{
    ViewData["Title"] = "Character Collection Page";
    bool hasStats = Model != null && Model.Count() > 0;
}


@{
    if (!hasStats)
    {
        <div class="text-center">
            <h2>You have no Stat Blocks on your account</h2>
            <h3>Go <a asp-controller="StatBlock" asp-action="StatBlockCreation">here</a> to add one!</h3>
        </div>
    }
    else
    {
        foreach (var st in Model)
        {
            <partial name="_StatPartialView" for="@st" />
            <br />
            <br />
        }
    }
}