@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a class="text-success" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="text-success" asp-area="" asp-controller="Spell" asp-action="SpellAddDatabase">Spell Creation</a>

</div>
