@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center background">
    <h1 class="display-4">Welcome To D&D Nearby</h1>
    <h3>The finish line is always nearby, we're just not sure which side</h3>
    <a asp-controller="Item" asp-action="DisplayItems">Items</a>
</div>