@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site is not a partner, subsidiary, or owned by Wizards of the Coast. This site is run by a small community of students. Its programs and functions were rightfully written by this same community</p>
